/* Inter Font */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* Apple Garamond Font */
@font-face {
    font-family: 'Applegaramond';
    src: url('static/font/AppleGaramond-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 32px;
    word-spacing: -0.022em;
    line-height: 1.5;
    color: #000000;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 8px;
}

::selection {
    background-color: #F7F5F2;
}

a {
    color: #000000;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 825px;
}

p {
    margin: 0;
}

.button {
    font-family: 'AppleGaramond';
    font-style: italic;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.button:hover {
    background-color: #9e9e9e34;
}

.dca-logo {
    display: inline-block;
    width: 8%;
    height: auto;
}

.ntu-logo {
    display: inline-block;
    width: 3.4%;
    height: auto;
}

.ntu-logo svg {
    transform: translateY(20%);
}

/* footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0.5em;
    padding-right: 1em;
}

footer p {
    font-size: 14px;
    margin: 0;
}

.vd {
    font-family: 'AppleGaramond';
    font-style: italic; 
    font-size: 16px;
} */


/* When width <900 make font size smaller */
@media only screen and (max-width: 900px) {
    body {
        font-size: 30px;
    }

    .dca-logo {
        display: inline-block;
        width: 7%;
        height: auto;
    }

    .ntu-logo {
        display: inline-block;
        width: 3%;
        height: auto;
    }
    
    .ntu-logo svg {
        transform: translateY(20%);
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 22px;
    }

    .dca-logo {
        display: inline-block;
        width: 13%;
        height: auto;
    }

    .ntu-logo {
        display: inline-block;
        width: 6%;
        height: auto;
    }
    
    .ntu-logo svg {
        transform: translateY(20%);
    }
}

@media only screen and (max-width: 300px) {
    body {
        font-size: 18px;
    }

    .dca-logo {
        display: inline-block;
        width: 15%;
        height: auto;
    }

    .ntu-logo {
        display: inline-block;
        width: 7%;
        height: auto;
    }
    
    .ntu-logo svg {
        transform: translateY(20%);
    }
}