/* Sequel Sans */
@font-face {
    font-family: 'Sequel Sans';
    src: url('static/font/Sequel\ Sans\ Light\ Disp.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel Sans';
    src: url('static/font/Sequel\ Sans\ Semi\ Bold\ Disp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    font-family: 'Sequel Sans', serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}

body {
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
    position: relative;
}

body::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(0, 0, 0, 0.093);
    pointer-events: none;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    -webkit-mask-image: linear-gradient(0deg, #000 0, transparent);
    mask-image: linear-gradient(0deg, #000 0, transparent);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.profile {
    width: 100%;
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.profile-image img {
    border-radius: 9999px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 0.5px rgba(0,0,0,.08),0 1px 1px -0.5px rgba(0,0,0,.2),0 3px 3px -1.5px rgba(0,0,0,.2),0 5px 5px -2.5px rgba(0,0,0,.2),0 16px 16px -8px rgba(0,0,0,.2);
}

.profile-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.pill {
    border-radius: 9999px;
    background-color: rgb(238, 240, 241);
    padding: 0.5em 1em;
    transition: background-color 0.2s ease;
}

.pill:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.pill a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}

.pill:hover a {
    color: #ffffff;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    color: #1d1d1d;
}

.profile-title {
    color: #7e7e7e;
}

.about {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.about p {
    color: #7e7e7e;
}

.about p:first-child {
    margin-top: 0;
}

.about p:last-child {
    margin-bottom: 0;
}

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.experience-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.experience-divider {
    background-color: #e5e7eb;
    height: 1px;
    width: 100%;
}

.experience-divider-mobile {
    background-color: #e5e7eb;
    height: 1px;
    width: 100%;
    display: none;
}

.experience-company {
    flex: none;
}

.experience-role, .experience-date {
    color: #7e7e7e;
    flex: none;
}

.experience-date {
    display: flex;
    justify-content: flex-end;
    width: 92px;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project img {
    width: 100%;
    border-radius: 0.4em;
    border: 0.2px solid #e5e7eb;
}

.music-activity {
    width: 100%;
    margin-top: 2em;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    padding: 0.4em;
    border-radius: 0.4em;
    background-color: rgb(238, 240, 241);
}

.music-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    box-sizing: border-box;
    padding: 0.4em;
    border-radius: 0.2em;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 0.5px solid #e5e7eb;
}

.album-art {
    width: 48px;
    height: 48px;
    border-radius: 0.1em;
    background-color: rgb(238, 240, 241);
}

.music-text {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.track-name {
    color: #1d1d1d;
}

.artist-name {
    color: #7e7e7e;
}

.music-status-container {
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding: 0.2em 0.4em;
    box-sizing: border-box;
    color: #a9a9a9;
    font-size: 0.8em;
    width: 100%;
}

.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c9c9c9;
    transition: background-color 0.3s ease;
}

.status-indicator.active {
    background-color: #22c55e;
}

@media (min-width: 1400px) {
    main {
        width: 35%;
    }
}

@media (max-width: 1400px) {
    main {
        width: 60%;
    }

    .profile {
        margin-top: 3em;
    }
}

@media (max-width: 1000px) {
    :root {
        font-size: 14px;
    }

    main {
        width: 95%;
    }

    .profile {
        margin-top: 2em;
    }

    .experience-divider-mobile {
        display: block;
    }

    .experience-divider {
        display: none;
    }

    .experience-date {
        width: auto;
    }
}